body{
    background-color: whitesmoke;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    max-width: 400px;
    margin: 0 auto;
}
#first-par{ color: tomato;
}
#first-line{
font-family: Carneys Gallery Demo Version;
}
.text-blue {
    color: blue;
}
.bg-gray {
        background-color:gray;
    }
button[:disabled]{
    opacity: 0,5;
}

h1:hover{
    color: indigo;
}
p:first-line {
    text-indent: 20px;
}