@font-face {
	font-family: 'PTRootUIWebLight';
	src: url('fonts/PT\ Root\ UI_Light.eot'');
	src:
	     url('fonts/PT%20Root%20UI_Light.eot?#iefix') format('embedded-opentype'),
	     url('PT%20Root%20UI_Light.woff2') format('woff2'),
	     url('PT%20Root%20UI_Light.woff') format('woff'),
	     url('PT%20Root%20UI_Light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body{
    background-color: #F8F8F8;
    color: black;
    font-family: "PTRootUIWeb";
    font-weight: normal;
    font-size: 20px;
    max-width: 400px;
    margin: 0 auto;
}

#first-par{ color: tomato;
}
.text-blue {
    color: blue;
}
.bg-gray {
        background-color:gray;
    }
h1:hover{
    color: indigo;
}
p:first-line {
    text-indent: 20px;
}
