body{
    background-color: #F8F8F8;
    color: black;
    font-family: 'PTRoot'
    font-size: 20px;
    max-width: 400px;
    margin: 0 auto;
}
@font-face {
	font-family: 'PTRootUIWebMedium';
	src: url("assets/fonts/PTRootUIWebMedium");
	src:
	     url('assets/fonts/PTRootUIWebMedium') format('embedded-opentype'),
	     url('assets/fonts/PT%20Root%20UI_Medium.woff2') format('woff2'),
	     url('asseta/fonts/PT%20Root%20UI_Medium.woff') format('woff'),
	     url('assets/fonts/PT%20Root%20UI_Medium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'PTRootUIWebRegular';
	src: url('assets/fonts/PT%20Root%20UI_Regular.eot');
	src:
	     url('assets/fonts/PT%20Root%20UI_Regular.eot?#iefix') format('embedded-opentype'),
	     url('assets/fonts/PT%20Root%20UI_Regular.woff2') format('woff2'),
	     url('assets/fonts/PT%20Root%20UI_Regular.woff') format('woff'),
	     url('assets/fonts/PT%20Root%20UI_Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
#first-par{ color: tomato;
}
h2 {
    font-family: ;
}
.text-blue {
    color: blue;
}
.bg-gray {
        background-color:gray;
    }
h1:hover{
    color: indigo;
}
p:first-line {
    text-indent: 20px;
}
