@font-face {
    font-family: 'Acumin Pro';
    src: url('fonts/AcuminPro-Regular.woff2') format('woff2'), url('fonts/AcuminPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Acumin Pro';
    src: url('fonts/AcuminPro-Bold.woff2') format('woff2'), url('fonts/AcuminPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Acumin Pro';
    src: url('fonts/AcuminPro-Italic.woff2') format('woff2'), url('fonts/AcuminPro-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Acumin Pro';
    src: url('fonts/AcuminPro-Italic.woff2') format('woff2'), url('fonts/AcuminPro-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'MADE Coachella';
    src: url('fonts/madecouchrlla/MADECoachella-Black.woff2') format('woff2'), url('fonts/madecouchrlla/MADECoachella-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MADE Coachella';
    src: url('fonts/madecouchrlla/MADECoachella-Bold.woff2') format('woff2'), url('fonts/madecouchrlla/MADECoachella-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MADE Coachella';
    src: url('fonts/madecouchrlla/MADECoachella-Thin.woff2') format('woff2'), url('fonts/madecouchrlla/MADECoachella-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MADE Coachella';
    src: url('fonts/madecouchrlla/MADECoachella-Medium.woff2') format('woff2'), url('fonts/madecouchrlla/MADECoachella-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MADE Coachella';
    src: url('fonts/madecouchrlla/MADECoachella.woff2') format('woff2'), url('fonts/madecouchrlla/MADECoachella.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MADE Coachella';
    src: url('fonts/madecouchrlla/MADECoachella-Light.woff2') format('woff2'), url('fonts/madecouchrlla/MADECoachella.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0 auto;
    padding: 0;
    background-color: white;
}

aside {
    position: fixed;
    width: 20%;
    height: 100vh;
    top: 0px;
    padding: 40px;
    border: solid 1px currentColor;
    background: radial-gradient(99.13% 32.69% at 101% 49.29%, rgba(13, 47, 54, 0.96) 0%, #0A2429 100%);
}

.vertical-menu {
    color: white;
    font-family: 'Acumin Pro';
    display: block;
    width: 100px;
    left: 40px;
    top: 50px;
    padding: 5px;
    font-size: 18px;
}

.vertical-menu :hover {
    color: #135c3a;
}

.layout {
    display: flex;
    min-height: 100vh;
}

.overlay {
    position: absolute;
    height: 270px;
    width: auto;
}

a.rollover {
    background: #0A2429 30%;
    display: block;
    width: auto;
    height: 370px;
    opacity: 0, 3;
}

a.rollover:hover {
    background: url(img/1child.jpg);
    /*background: url(http://placehold.it/720x270);/*
    /* Путь к файлу с исходным рисунком  */
    width: auto;
    height: 370px;
}

.content-box {
    width: 80%;
    padding-right: 50px;
    padding-top: 50px;
    margin-left: 30%;
}

.big-card {
    height: 370px;
    width: 100h;
    margin-left: 0;
}

.cards-columns {
    display: flex;
}

.card-column-1 {
    width: 60%;
    padding: 0px;
    margin-top: 20px;
}

.card-column-2 {
    width: 40%;
    padding: 20px;
    padding-right: 0px;
    margin-right: 0px;
}

.child-1 {
    background-color: #0A2429;
    height: 350px;
}

.child-2 {
    background-color: #0A2429;
    height: 250px;
    margin-top: 20px;
}

.child-3 {
    background-color: #0A2429;
    height: 250px;
}

.child-4 {
    background-color: #0A2429;
    height: 430px;
    margin-top: 20px;
}

.child-5 {
    background-color: #0A2429;
    height: 350px;
    margin-top: 20px;
}

.child-6 {
    background-color: #0A2429;
    height: 270px;
    margin-top: 20px;
}

p {
    font-family: 'MADE Coachella';
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 62px;
    position: absolute;
    width: 222px;
    height: 67px;
    left: 40px;
    top: 250px;
}

p.cite {
    position: absolute;
    width: 214px;
    height: 48px;
    left: 40px;
    top: 350px;
    font-family: 'Acumin Pro';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    text-transform: capitalize;
    color: #999999;
}

.phrase {
    position: absolute;
    width: 253px;
    height: 70px;
    left: 797px;
    top: 164px;
    font-family: Acumin Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    text-transform: capitalize;
    color: #0A2429;
}